<!-- Componente de Menú HTML -->
<div class="bg-[#faf7f7] p-[0.5vw] pl-[1.5vw] pr-[1.5vw] font-[Nunito Sans]">
    <div class="flex justify-between items-center">
        <div class="flex items-center">
            <img class="h-[3vw] cursor-pointer" src="/assets/images/beauty-logo.png" alt="logo Beauty Spa">
            <a class="text-[1vw] pl-[1vw] font-semibold">Beauty Spa</a>
        </div>
        <nav class="flex gap-[2vw] text-[0.9vw] pr-[2vw]">
            <a class="cursor-pointer">Inicio</a>
            <a class="cursor-pointer">Servicios</a>
            <a class="cursor-pointer">Productos</a>
            <a class="cursor-pointer">Nosotros</a>
            <a class="cursor-pointer">Contactanos</a>
        </nav>
        <div class="flex items-center justify-center">
            <button class="text-[1vw] cursor-pointer bg-[var(--pink-beauty)] p-[0.2vw] rounded-3xl w-[9vw] font-semibold ">Agendar
                Cita</button>
        </div>
    </div>
</div>
<div class="flex items-center justify-center ">
    <hr class="bg-[var(--pink-beauty)] border-0 h-[0.1vw] w-[97%] ">
</div>
