 <div> <hr class="border-t bg-[#f9b5d7] h-[0.1vw]"> </div>
<div class="font-[Nunito Sans] bg-[#faf7f7] p-[2vw]">
   
    <div class="flex justify-between items-center ">
    <div class=" text-[6vw]flex space-x-4">
        <a href="" class="">Politica de privacidad</a>
        <a href="" class="">Terminos y condiciones</a>
        <a href="" class="">Contacto</a>
    </div>
    
     <div class="text-sm">
            <p>© 2025 Beauty Spa. Todos los derechos reservados.</p>
        </div>
    </div>
 </div>
 

   

