@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playpen+Sans:wght@100..800&display=swap');



body {
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --pink-beauty: #f9ddeb;
    --default-border-radius: 7px;
}
